.cabecalho {
  background-color: var(--branco);
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho__menu-hamburguer {
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  
  background: url(../img/menu.svg) no-repeat center;

  /* border: 1px solid red; */
}

.container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}